# SQL Integrity Constraints

**Dr. Pengfei Zhao**

Finance Mathematics Program, 

BNU-HKBU United International College

## What does Integrity Constraints (IC) do?

* Integrity Constraints (IC) guard against accidental damage to the database, by ensuring that authorized changes to the database do not result in a loss of data consistency.
* SQL constraints are used to specify rules for data in a table.
* Constraints can be specified when the table is created with the `CREATE TABLE` statement, or after the table is created with the `ALTER TABLE` statement.

**Syntax**

>```SQL
CREATE TABLE table_name (
    column1 datatype constraint,
    column2 datatype constraint,
    column3 datatype constraint,
    ....
);
```

* Constraints are based upon the semantics of the real-world enterprise that is being described in the database relations. 
* Constraints are used to limit the type of data that can go into a table. This ensures the **accuracy** and **reliability** of the data in the table. If there is any violation between the constraint and the data action, the action is **aborted**.
* Constraints can be column level or table level. Column level constraints apply to a column, and table level constraints apply to the whole table.

* The following constraints are commonly used in SQL:

>**NOT NULL** - Ensures that a column cannot have a NULL value

>**UNIQUE** - Ensures that all values in a column are different

>**PRIMARY KEY** - A combination of a NOT NULL and UNIQUE. **Uniquely** identifies each row in a table. A table can have **only one** primary key, which may consist of **single or multiple** fields.

>**FOREIGN KEY** - A FOREIGN KEY is a field (or collection of fields) in one table that refers to the PRIMARY KEY in another table. 

>**CHECK** - Ensures that all values in a column satisfies a specific condition

>**DEFAULT** - Sets a default value for a column when no value is specified

>**INDEX** - Used to create and retrieve data from the database very quickly

#### More about Foreign Key

* A FOREIGN KEY is a key used to link two tables together.
* The table containing the foreign key is called the child table, and the table containing the primary key is called the referenced or parent table.
* The FOREIGN KEY constraint is used to prevent actions that would destroy links between tables. The FOREIGN KEY constraint also prevents invalid data from being inserted into the foreign key column, because it has to be one of the values contained in the table it points to.

**Example**

In [1]:
%load_ext sql
try:
    import pymysql
    pymysql.install_as_MySQLdb()
except ImportError:
    pass

In [3]:
%sql mysql://few:123456@localhost/HelloDB

'Connected: few@HelloDB'

In [3]:
%sql drop table daily_bar

0 rows affected.

[]

In [4]:
%sql DROP TABLE IF EXISTS company_info;

%sql \
CREATE TABLE company_info ( \
    code varchar(10), \
    name varchar(12) NOT NULL, \
    industry char(8), \
    area varchar(8), \
    pe double, \
    totalAssets double, \
    eps double, \
    PRIMARY KEY(code), \
    UNIQUE(name), \
    CHECK(pe>0 AND totalAssets>0) \
);

0 rows affected.
0 rows affected.

[]

In [5]:
%sql show tables;

3 rows affected.

[('company_info',), ('hundred_stocks_twoyears_daily_bar',), ('sh50',)]

In [6]:
%sql DROP TABLE IF EXISTS daily_bar 

%sql \
CREATE TABLE daily_bar ( \
    code varchar(10), \
    date timestamp, \
    open double, \
    high double, \
    close double, \
    low double, \
    volume double, \
    PRIMARY KEY (code, date) \
);

0 rows affected.
0 rows affected.

/opt/anaconda3/envs/py36/lib/python3.6/site-packages/pymysql/cursors.py:165: Warning: (1051, "Unknown table 'HelloDB.daily_bar'")
  result = self._query(query)

[]

**Add a foreign key**

* Add a foreign key named as "FK_bar". The parent table is "company_info" and child table is "daily_bar".
* The foreign key ensures: (1) You cannot add a tuple in "daily_bar" table whose "code" is not in parent table (2) You cannot delete a tuple in "company_info" whose "code" exists in "daily_bar" table.
* In summary, the "child" cannot live without out "parent".

In [7]:
%sql ALTER TABLE daily_bar add CONSTRAINT FK_bar FOREIGN KEY (code) REFERENCES company_info (code)

0 rows affected.

[]

In [4]:
%sql show tables;

4 rows affected.

[('company_info',),
 ('hundred_stocks_twoyears_daily_bar',),
 ('sh50',),
 ('sh50_oneyear_dailybar',)]